/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Vazir";
  src: font-url("Vazir.ttf");
}
@font-face {
  font-family: "Vazir-Black";
  src: font-url("Vazir-Black.ttf");
}
@font-face {
  font-family: "Vazir-Bold";
  src: font-url("Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vazir-Light";
  src: font-url("Vazir-Light.ttf");
}
@font-face {
  font-family: "Vazir-Medium";
  src: font-url("Vazir-Medium.ttf");
}
@font-face {
  font-family: "Vazir-Thin";
  src: font-url("Vazir-Thin.ttf");
}

body {
  font-family: "Vazir";
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Vazir-Bold';
}

.nav-bar-bgcolor {
  background-color: #FF9800;
}

.main-app-color {
  color: #FF9800;
}

.session-center {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.margin-top-10{
  margin-top: 10px;
}
